$color: #190422;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700;800;900&family=Inter:wght@400;500;600;700&family=Laila:wght@700&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700;900&display=swap");

.koin-container {
  width: 100%;

  .home-container {
    padding: 17px 0px 131px 77px;
    min-height: 100vh;
    background: $color;
    @media screen and (max-width: 1024px) {
      padding: 40px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
    }

    .top-container {
      padding: 0 82px 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: #fff;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media screen and (max-width: 1024px) {
          font-size: 40.24px;
          font-style: normal;
          line-height: 50px;
        }
      }

      span {
        color: #bc8afc;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav ul {
        display: flex;
      }

      nav ul li {
        margin-left: 60px;
      }

      nav ul li a {
        color: #fff;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      nav button {
        margin-left: 75px;
        width: 132px;
        height: 58px;
        border-radius: 7px;
        background: #bc8afc;
        box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      nav button a {
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      svg {
        display: none;
      }
    }

    .box-container {
      margin-top: 85px;
      padding: 0 21px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .box-1 {
        width: 631px;
      }

      .box-1 h2 {
        margin-bottom: 32px;
        color: #fff;
        font-family: Poppins;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }

      .box-1 p {
        margin-bottom: 32px;
        color: #fff;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 158%;
      }

      .box-1 button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 212px;
        height: 58px;
        border-radius: 7px;
        background: #bc8afc;
        box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .box-1 button a {
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .box-1 button img {
        width: 33px;
        height: 33px;
        margin-left: 4px;
        @media screen and (max-width: 1024px) {
        }
        @media screen and (max-width: 768px) {
        }
      }

      .box-2 img {
        width: 590px;
        height: 677px;
        @media screen and (max-width: 1024px) {
          width: 396px;
          height: 454.266px;
        }
        @media screen and (max-width: 768px) {
          width: 336.255px;
          height: 381.415px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .top-container {
        padding: 0 40px 0 0;

        h1 {
          font-size: 40.24px;
          font-style: normal;
          line-height: 50px;
        }

        span {
          color: #bc8afc;
          font-size: 40.24px;
          font-style: normal;
          line-height: 50px;
        }

        nav {
          display: none;
        }

        svg {
          display: block;
        }
      }

      .box-container {
        padding: 0 11px 0 0;
        align-items: flex-start;

        .box-1 {
          width: 100%;
        }

        .box-1 h2 {
          font-size: 48px;
          width: 100%;
        }

        .box-2 img {
          width: 396px;
          height: 454.266px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .top-container {
        padding: 0;
      }

      .box-container {
        width: 359px;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;

        .box-1 h2 {
          margin-bottom: 24px;
        }

        .box-1 p {
          margin-bottom: 24px;
        }

        .box-2 img {
          margin-top: 36px;
          width: 336.255px;
          height: 381.415px;
        }
      }
    }
  }

  .about-container {
    min-height: 100vh;
    background: #fff;
    position: relative;
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 768px) {
      padding: 0 16px 40px 16px;
    }
    .top-container {
      padding: 51px 109px 47px 109px;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: -119px;
      width: 83%;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 1024px) {
        padding: 40px 101px 40px 91px;
        width: 90%;
        height: 170px;
        top: -85px;
        @media screen and (max-width: 768px) {
          width: 91%;
          height: 434px;
          top: -60px;
          padding: 32px 80px;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        li {
          margin-bottom: 32px;
          img {
            width: 113px;
            height: 72px;
            @media screen and (max-width: 1024px) {
              width: 100px;
              height: 60px;
            }
            @media screen and (max-width: 768px) {
              width: 120px;
              height: 72px;
            }
          }
          p {
            color: #1f262e;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media screen and (max-width: 768px) {
            }
          }
        }
        li:last-child img {
          width: 90px;
          height: 72px;
          @media screen and (max-width: 1024px) {
            width: 75px;
            height: 60px;
          }
          @media screen and (max-width: 768px) {
            width: 90px;
            height: 72px;
          }
        }
      }
    }
    .box-container {
      padding: 257px 97px 107px 97px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1024px) {
        padding: 183px 40px 45px 87px;
      }
      @media screen and (max-width: 768px) {
        padding: 441px 48px 40px 48px;
        flex-direction: column;
      }
      img {
        width: 413px;
        height: 609px;
        @media screen and (max-width: 1024px) {
          width: 267.999px;
          height: 395.184px;
        }
        @media screen and (max-width: 768px) {
          width: 217.192px;
          height: 320.266px;
          border-radius: 11px;
        }
      }
      .p-1 {
        width: 611px;
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 122.5%;
        margin-bottom: 16px;
        @media screen and (max-width: 1024px) {
          width: 367px;
          font-size: 32px;
        }
        @media screen and (max-width: 768px) {
          width: 356px;
          margin-top: 55px;
          font-size: 36px;
        }
      }
      .p-2 {
        width: 571px;
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 158%;
        margin-bottom: 16px;
        @media screen and (max-width: 1024px) {
          width: 367px;
        }
        @media screen and (max-width: 768px) {
          margin-top: 24px;
          width: 356px;
        }
      }
      button {
        width: 212px;
        height: 58px;
        border-radius: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #bc8afc;
        @media screen and (max-width: 768px){
          margin-top: 24px;
        }
        a {
          color: #000;
          font-family: Poppins;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        img {
          width: 33px;
          height: 33px;
        }
      }
    }
  }
}
